<%
const site = {
  name: 'frontend-code-challenge',
  description: 'An interview test for Front-End Development job candidates.',
  github: "https://xtreemze.github.io/frontend-code-challenge/",
}
%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>${ site.name }</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=0.0, maximum-scale=10.0">
    <link rel="canonical" href="${ site.github }" />
  </head>

  <body class="grey lighten-3">

    <main class="container">
      <section class="row" id="listings"></section>
    </main>

  </body>

  </html>
